.frame {
  width:100%;
  height:100%;
  position:fixed;
  left:0px
}

/* tiltle */

.titlebar {
  -webkit-app-region: drag;
  height: 30px;
  background-color: dddddd;
}

.open_dir {
  width: 28px;
  height: 28px;
  margin-top: 2px;
  margin-left: 5px;
  transition: all 0.3s ease;
  -webkit-app-region: no-drag;
  fill: #070a07;
}

.open_dir:hover {
  width: 28px;
  height: 28px;
  margin-top: 2px;
  margin-left: 5px;
  transition: all 0.3s ease;
  -webkit-app-region: no-drag;
  fill: #3e36b9;
}

.minimize {
  width: 28px;
  height: 28px;
  float: right;
  -webkit-app-region: no-drag;
  fill: #000000;
}

.minimize:hover {
  background: #aaaaaa;
  fill: red;
}

.close {
  width: 28px;
  height: 28px;
  float: right;
  -webkit-app-region: no-drag;
  fill: #000000;
}

.close:hover {
  background: red;
  fill: white;
}

/* main body */
.main_body {
  height: calc(100% - 28px);
  display: flex;
  background-color: #d8d8d8;
}

/* file */
.file_body {
  height: 100%;
  width: 70%;
  /* overflow:auto; */
}

.file_bar {
  height: 28px;
  margin-bottom: 15px;
}

.keyword {
  position: relative;
  top: -8px;
  width: 350px;
  height: 24px;
  font-size: 15px;
  border: none;
  margin-left: 3px;
  margin-top: 10px;
}

.search_btn {
  height: 26px;
  width: 26px;
  fill:red;
}

.sort_btn {
  width: 28px;
  height: 28px;
  fill: #000000;
  margin-left: 15px;
  margin-top: 5px;
  float:right;
}

.sort_btn_asc {
  width: 28px;
  height: 28px;
  background: green;
  fill: white;
  margin-left: 10px;
  margin-top: 5px;
  float:right;
}

.sort_btn_dec {
  width: 28px;
  height: 28px;
  background: red;
  fill: white;
  margin-left: 15px;
  margin-top: 5px;
  float:right;
}

.file_form {
  height:calc(100% - 32px);
  overflow:auto;
}

.file {
  height: 200px;
  position: relative;
}

.file_img {
  height: 150px;
  position: relative;
  border-width: 5px;
  border-radius:8px;
  width:100%
}

.file_img_selected {
  height: 150px;
  position: relative;
  border-color: black;
  border-width: 5px;
  border-radius:8px;
  border-style:dashed dashed;
  width:100%
}

.file_favorite {
  height: 20px;
  width: 20px;
  fill:red;
}

/* sidebar */
/* head */
.tabs {
  display: flex;
  height: 28px;
  background: #7f9eb2;
}

.tab_btn {
  width: 60px;
  height: 28px;
  fill: #000000;
}

.tab_btn_selected {
  width: 60px;
  height: 28px;
  background: rgb(62, 63, 71);
  fill: white;
}

.tab_btn_img {
  width: 24px;
  height: 24px;
  fill: #000000;
  margin-left:18px;
  margin-top:2px;
}

.tab_btn_img_selected {
  width: 24px;
  height: 24px;
  fill: white;
  margin-left:18px;
  margin-top:2px;
}

/* group */
.group_container 
{
  height:calc(100% - 70px);
  overflow:auto;
  margin-top: 10px;
}

.group {
  margin-bottom: 10px;
  border-bottom: 3px solid #bbbbbb;
}

.filter_head {
  height: 30px;
  display: flex;
}

.filter_btn {
  width: 28px;
  height: 28px;
  fill: #000000;
  position: relative;
  display: table;
}

.filter_btn:hover {
  background: red;
  fill: white;
  position: relative;
  display: table;
}

.group_bar {
  background: #bbbbbb;
  height: 28px; 
}

.groupname {
  border: none;
  background: #bbbbbb;
}

.groupname:hover {
  border-style: none;
}

.group_btn {
  width: 28px;
  height: 28px;
  fill: #000000;
  float: right;
}

/* .group_btn:hover {
  background: red;
  fill: white;
  position: relative;
  display: table;
} */


.group_label_container 
{
  height:calc(100% - 200px);
  overflow:auto;
  margin-top: 10px;
}

.group_label {
  margin-bottom: 10px;
  border-bottom: 3px solid #bbbbbb;
}



div:active [aaa="selected"] {
  border: 2px solid;
  border-radius: 25px;
  -moz-border-radius: 25px;
}

.labelSelected {
  background-color: green;
  width: 50px;
  height: 30px;
  margin-left: 5px;
}

.labelUnselected {
  background-color: #999999;
  width: 50px;
  height: 30px;
  margin-left: 5px;
}



.sidebar {
  width: 30%;
  background: #dedede;
  border-left: 3px solid #555555;
  height: 100%;
}



.tabbtn {
  height: 26px;
  width: 26px;
  border: none;
  margin-right: 5px;
  margin-left: 5px;
}

.filefunc {
  height: 26px;
  width: 26px;
  border: none;
}





.label {
  width: 50px;
  height: 30px;
}

.favoriteitem {
  position: relative;
  right: calc(50%-75px);
  border: radius 8px;
  height: 150px;
  margin-bottom: 10px;
}



.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
